.end-logo {
  height: 200px;
}

.end-container-fluid {
  position: relative;
}

.end-modal {
  background: transparent;
  margin-top: 15%;
}
.modal-newsletter {
  color: #9f9f9f;
  width: 700px;
  font-size: 15px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .modal-body > p > a.btn {
    margin-left: -13%;
  }
  .modal-content {
    width: 50%;
  }
  body {
    overflow: scroll !important;
  }
}

.modal-newsletter .modal-content {
  padding: 40px 50px;
  border-radius: 1px;
  border: none;
}
.modal-newsletter .modal-header {
  border-bottom: none;
      position: relative;
  text-align: center;
  border-radius: 5px 5px 0 0;
}
.modal-newsletter h4 {
  color: #000;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 30px;
  margin: 0;
  text-transform: uppercase;
}
.modal-newsletter .close {
  position: absolute;
  top: -25px;
  right: -35px;
  color: #c0c3c8;
  text-shadow: none;
  opacity: 0.5;
  font-size: 26px;
  font-weight: normal;
}
.modal-newsletter .close:hover {
  opacity: 0.8;
}
.modal-newsletter .form-control, .modal-newsletter .btn {
  min-height: 46px;
  text-align: center;
  border-radius: 1px;
}
.modal-newsletter .form-control {
  box-shadow: none;
  background: #f5f5f5;
  border-color: #d5d5d5;
}
.modal-newsletter .form-control:focus {
  border-color: #ccc;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.modal-newsletter .btn {
  color: #fff;
  background: $brand-primary;
  text-decoration: none;
  transition: all 0.4s;
      line-height: normal;
  padding: 6px 20px;
      border: none;
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  line-height: 35px;
}
.modal-newsletter .btn:hover, .modal-newsletter .btn:focus {
  background: #172e56;
  outline: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
.modal-newsletter .form-group {
  padding: 0 20px;
  margin-top: 30px;
}
.modal-newsletter .footer-link{
  margin-top: 20px;
  min-height: 25px;
}
.modal-newsletter .footer-link a {
  color: #353535;
  display: inline-block;
  border-bottom: 2px solid;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}
.modal-newsletter .footer-link a:hover, .modal-newsletter .footer-link a:focus {
  text-decoration: none;
  border: none;
}
.hint-text {
  margin: 100px auto;
  text-align: center;
}

.container-fluid{
  position: absolute;
}

.intro {
  font-size: 50px;
  font-weight: bold;
  font-family: 'Lexend Exa', sans-serif;
}

.logo {
  height: 150px;
}

.fade-border{
    display: block;
    border: none;
    color: white;
    height: 1px;
    background: black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to($body-bg));
}

.intro-text {
  margin-top: 0%;
  font-size: 20px;
  line-height: 25px;
}

.svg-container {
  width: 100%;
  position: absolute;

	svg {
    opacity: .08;
    width: 100%;
    margin-top: -500px;
    margin-left: -200px;
	}
}

.line {
  fill:none;
  stroke: $blue;
  stroke-miterlimit:10;
	stroke-width:0.5;
}

.circle {
	fill: transparent;
	transition: fill 300ms ease;
}

.blue-bg {
	fill: $blue;
  animation-delay: 3s;
}

.detail-pane {
  margin-top: 10px;
  background: rgba(245, 245, 245, .35);
}

.detail-svg {
  height: 80px;
}
